
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");



.list {
    height: 120vh;
    width: 100%;
    background: #f0f0f0;

}

.list .overlay{
  height: 120vh;
}

.list form {

    background-color: white;
    width: 600px;
    
}


.list .form-content{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
}


.list .main-cont{
    
    width: 80%;
     float:right
}

.list .side-cont{
    width: 20%;
     float:left
}



.list h2{
    color: black;
    padding-top: 3%;
    text-align: left;
    padding-left: 7%;
}

.list form p {
    text-align: left;
    padding-left: 7%;
    font-size: 0.875rem;
    font-weight: 500;
    color: hsl(242, 18%, 64%);
}

.list input#drop-date {
  margin-left: 7%;
}



.form-content-2 {
  background: #d23b46;
  width: 400px;
  color: white;
  text-align: left;
  padding: 5%;
}

.fc2-content {
  padding-bottom: 7%;
}
.fc2-content h3 {
  padding-bottom: 2%;
  font-size: 22px;
}

.fc2-content p{
  font-size: 15px;
}






.line {
    border: 1px solid hsl(242, 18%, 64%);
    height: 100%;
}






.list a,
button {
  all: unset;
  cursor: pointer;
}
.list a{
  color:#d23b46;
}

.list  img {
  width: 100%;
  height: 100%;
  display: block;
}



.list .container {

  width: 100%;
  display: flex;
  /* margin-inline: 1rem; */
 
}






@media screen and (max-width: 60rem) {
  .list .container {
    width: 100%;
    margin: 0;
  }

}

.list .form-section {
  width: 100%;
  background-color: white;
  padding: 2.5rem 1rem;
  display: flex;
  text-align: left;
  border-radius: 10px;

}

.list .form-wrapper {
  width: 40%;
  margin: 0 auto;

}

.list .form-wrapper > h2 {
  margin-bottom: 0.1rem;
}
.list .form-wrapper > p {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.list .input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.list .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-bottom: 5%;
}
.list .form-group label {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #16164d;
}
.list .form-group input {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-dark);
  padding: 0.5rem;
  border: 2px solid var(--primary-lighter);
  border-radius: 0.3rem;
}
.list .form-group input:focus {
  border: 2px solid #16164d;
}

.list .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.list .remember-me {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.6rem;
}

.list input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: grid;
  place-content: center;
}

.list .remember-me input {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border: 1px solid var(--text-light);
  border-radius: 2px;
}

.list input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  background-color: white;
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.list input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.list .remember-me input:checked {
  background: var(--primary-gradient);
}

.list .remember-me label {
  color: var(--text-dark);
  user-select: none;
}
.list .remember-forgot a {
  color: var(--primary);
}
.list .remember-forgot a:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.list .login-btn,
.google-signin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.list .login-btn {
  color: white;
  background: #d23b46;
}
.list .login-btn:hover {
  opacity: 0.9;
}


.list .google-signin {
  border: 2px solid var(--primary-lighter);
}
.list .google-signin svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 50rem) {
  .list .container {
    flex-direction: column;
    margin-inline: 0;
  }

  .list .image-section,
  .form-section {
    width: 100%;
  }

  

  .list .form-section {
    flex: 1;
    padding: 1rem 1rem;
  }
  .list .logo-container {
    margin-bottom: 1rem;
  }
  .list .form-wrapper > h2 {
    font-size: 1.25rem;
  }
  .list .form-wrapper > p {
    margin-bottom: 1rem;
  }
  .list .form-wrapper button {
    font-size: 0.875rem;
  }
  .list .or-divider {
    font-weight: 500;
    margin-block: 0.6rem;
  }
}

@media screen and (max-width: 36.25rem) {

  .list .form-wrapper {
    width: 100%;
  }
}