.navbar2 i.fa.fa-user {
    padding-right: 5px;
}


.navbar2 .navbar{
padding-left: 7%;
    padding-right: 7%;
}

.navbar2 {
    background: #24262b;
    height: 90px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 20;
}