
  @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');



.signup{
    height: 160vh;
 
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.signup .overlay {
    background: black;
    height: 160vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
}


.signup form {
    position: absolute;
    top: 38%;
    left: 49%;
    transform: translate(-25%, -5%);
    width: 65%;
    z-index: 2;
}





.signup  a,
button {
  all: unset;
  cursor: pointer;
}
.signup a{
  color: #d23b46;
}

.signup  img {
  width: 100%;
  height: 100%;
  display: block;
}



.signup  .container {

  width: 100%;
  display: flex;
  margin-inline: 1rem;
 
}






@media screen and (max-width: 60rem) {
  .signup  .container {
    width: 100%;
    margin: 0;
  }

}

.signup  .form-section {
  width: 50%;
  background-color: white;
  padding: 2.5rem 1rem;
  display: flex;
  align-items: center;
  text-align: left;
  border-radius: 10px;
}

.signup  .form-wrapper {
  width: 75%;
  margin: 0 auto;
}

.signup .form-wrapper > h2 {
  margin-bottom: 0.1rem;
}
.signup .form-wrapper > p {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.signup .input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.signup .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.signup .form-group label {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #16164d;
}
.signup .form-group input {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-dark);
  padding: 0.5rem;
  border: 2px solid var(--primary-lighter);
  border-radius: 0.3rem;
}
.signup .form-group input:focus {
  border: 2px solid #16164d;
}

.signup .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.signup .remember-me {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.6rem;
}

.signup input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: grid;
  place-content: center;
}

.signup .remember-me input {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border: 1px solid var(--text-light);
  border-radius: 2px;
}

.signup input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  background-color: white;
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.signup input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.signup .remember-me input:checked {
  background: var(--primary-gradient);
}

.signup .remember-me label {
  color: var(--text-dark);
  user-select: none;
}
.signup .remember-forgot a {
  color: var(--primary);
}
.signup .remember-forgot a:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.signup .login-btn,
.google-signin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.signup .login-btn {
  color: white;
  background: #d23b46;
}
.signup .login-btn:hover {
  opacity: 0.9;
}

.signup .or-divider {
  width: 100%;
  font-weight: 600;
  color: var(--text-light);
  margin-block: 1.5rem;
  text-align: center;
  position: relative;
}
.signup .or-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 45%;
  background-color: var(--text-light);
}
.signup .or-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 1px;
  width: 45%;
  background-color: var(--text-light);
}

.signup .google-signin {
  border: 2px solid var(--primary-lighter);
}
.signup .google-signin svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 50rem) {
  .signup .container {
    flex-direction: column;
    margin-inline: 0;
  }

  .signup .image-section,
  .form-section {
    width: 100%;
  }

  

  .signup .form-section {
    flex: 1;
    padding: 1rem 1rem;
  }
  .signup .logo-container {
    margin-bottom: 1rem;
  }
  .signup .form-wrapper > h2 {
    font-size: 1.25rem;
  }
  .signup .form-wrapper > p {
    margin-bottom: 1rem;
  }
  .signup .form-wrapper button {
    font-size: 0.875rem;
  }
  .signup .or-divider {
    font-weight: 500;
    margin-block: 0.6rem;
  }
}

@media screen and (max-width: 36.25rem) {

  .signup .form-wrapper {
    width: 100%;
  }
}