
  @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');



.signup{
    height: 1100px;
 
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.signup .overlay {
    background: black;
    height: 1100px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
    opacity: 0.5;
}


.signup form{
   
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-30%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px;
    z-index: 2;
    margin-top: 3%;
}
.signup form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.signup form h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    margin: 2% 0%;
}

.signup label{
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
    float: left;
}
.signup input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.signup ::placeholder{
    color: #e5e5e5;
}
.signup button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.signup .social{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.signup .social div{
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
}
.signup .social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.signup .social .fb{
  margin-left: 25px;
}
.signup .social i{
  margin-right: 4px;
}

.signup form p{
    margin-top: 20px;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
   
    .signup form {
        margin-top: 15%;
    }


}

@media screen and (max-width: 540px) {
   
    .signup form {
        margin-top: 50%;
    }


}

@media screen and (max-width: 500px) {
   
    .signup form {
        width: 290px;
    }

    .signup form h3 {
        font-size: 30px;
    }
    .signup label {
        margin-top: 15px;
        font-size: 12px;
       
    }

    .signup button {


    padding: 8px 0;
    font-size: 15px;
    }

    .signup .social div {

        padding: 5px 5px 5px 5px;
     
    }

    form p{
        font-size: 12px;
    }
}

